.card{
    flex-grow: 1;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.card.enable{
    display:block;
}
.card.disable{
    display:none;
}
.card img{
    width: 100%;
    height: auto;
}