@import './../../variables/variables.scss';


.header{
    position: relative;
    width: 260px;
    height: 100%;
    background-color: $primary;
    display: flex;
    flex-flow: column ;
    justify-content: flex-start;
    align-items: center;
}
.brand{
    // width: 200px;
    // height: 200px;
    // background:url('./../../../public/assets/avatar.png') no-repeat;
    margin-top: 10%;
}
.title{
    margin-top: 15%;
    align-self: center;
    color: #{$baseline_on_primary};
    font-size: 2em;

}
.navBar{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
.navBar a{
    font-size: 1em;
    padding: 10px 0px 10px 50px;
    padding-left: 50px;
    text-decoration: none;
    display: block;
    color: #{$primary_dark};
}
.navBar a:hover{
    background-color:#{$secondary};
    color: #{$baseline_on_secondary};
}
.socialNetworkBar{
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 5%;
}
.socialNetworkBar a{

    color: #{$baseline_on_primary};
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}
.socialNetworkBar a:hover{
    border-radius: 15px;
    background-color:#{$secondary};
    color: #{$baseline_on_secondary};
}
////////////////////////////////////////////////////////////
// MOBILE
////////////////////////////////////////////////////////////
.header.mobile{
    position: absolute;
    width: 100%;
    height: 60px;
}
.burguermenu{
    position: absolute;
    top:15px;
    right: 10px;
    display: flex;
    width: 30px;
    height: 20px;
    align-self: flex-end;
    flex-flow: column;
    justify-content: space-between;
}
.burguermenu div{
    width: 100%;
    height: 20%;
    border-radius: 15px;
    background-color: #{$baseline_on_primary};
}
.burguermenu:hover div{
    background-color: #{$secondary};
}
.brand.mobile{
    display: none;
}
.title.mobile{
    position: absolute;
    top: 20px;
    left:10px;
    margin: 0;
    align-self: flex-start;
    font-size: 1.2em;
}
.navBar.mobile{
    display: none;
}
.navBar.mobile a{
    padding-left: 0;
    text-align: center;
}
.navBar.mobile.barUnfolded{
    display: block;
    position: relative;
    margin: 0;
    margin-top: 50px;
    // padding-top: 20px;
    // margin-bottom: auto;
}
.socialNetworkBar.mobile{
    position: relative;
    max-width: 30%;
    margin: 0;
    margin-top: auto;
    bottom: 15px;
    // margin-left: 60px;
}

.barUnfolded{
    transition: height 0.1s;
}
.header.mobile.barFolded{
    transition: 0.0s;
}
.header.mobile.barUnfolded{
    height: 220px;
}
