.App {
  /* background-color: aqua; */
  width: 100vw;
  height: 100vh;
  min-width: 375px;
  display: flex;
  flex-flow: row;
  /* flex-flow: row wrap; */
  /* flex-flow: column; */
}
.App.mobile{
  flex-flow: column;
}
.App.smallscreen{
  /* flex-flow: row wrap; */
}